<h1>Olá, Rails</h1>
<h3>Artigos</h3>

Esse blog tem <%= Article.public_count %> artigos e contando!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article%>
      </li>
    <% end %>  
  <% end %>
</ul>

<%= link_to "Novo Artigo", new_article_path %>